<!-- .contact -->
<div id="contact" class="content_2">
        
	<h1 class="h-bloc"></h1>


<div class="row">

     

    <div class="col-lg-12">
        <div class="row" id="contact-user">
            <div class="col-md-5">
                <div class="contact-info">
                    <!--<h3 class="main-heading"><span>Contact info</span></h3>-->

                    <div class="title_content" style="float: none;">
                        <div class="text_content"><a href = "https://lucwan.wordpress.com">Click here</a> or go to https://lucwan.wordpress.com to visit my blog.</div>
                        <div class="clear"></div>
                    </div>

                    
                </div>
                <!-- /Contact Info -->
                <div class="clear"></div>

      

            </div>

            <div class="col-md-7">
                <!--contact form-->
            </div>
        </div>
    </div>  
    <div class="col-lg-12">
        <img src="images/img-profile/vintage-1148940_1920.jpg" alt="" />
    </div> 

</div>                                            
</div>
    <!-- End .contact -->
