<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
            
        </div>
            <p style="margin-bottom:20px">Please refer to my <a href = "https://www.linkedin.com/in/lucy-w/">LinkedIn</a> for my skills and experiences. Feel free to reach out to me if you're interested in my full resume.</p>
<!--             <a class="download"  target = "starfall" style="margin:0;float: left;" href="2021_03_23_resume.pdf">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a> -->
        
    </div>
    <!-- /.resume-left -->
</div>
</div>


<!-- End .resume -->
