<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5><b>Intended Major: Computer Science</b></h5>
                <h5><b>Intended Career: Artificial Intelligence Scientist </b></h5>
            </li>
            <li>
                <h5>Gretchen Whitney HS <span class="duration"><i class="fa fa-calendar color"></i> 2015 - 2019</span></h5>
            </li>
            <li>
                <h5>Cerritos College and Cypress College <span class="duration"><i class="fa fa-calendar color"></i> 2017 - 2018</span></h5>
                <p>Combined GPA: 4.0</p>
                <p>Classes Taken: Linear Algebra, Calculus II, Introduction to Statistics, Abnormal Psychology, Human Sexuality, Introduction to Sociology, Freshman Composition</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <h5>Languages: Mandarin (fluent)</h5>
        
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Computer Science Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Data Science <span class="duration"><i class="fa fa-calendar color"></i> January 2017 to Present</span></h5>
                <p>·	Experienced with data analysis and visualization, machine learning and natural language processing</p>
                <p>·	Libraries: NumPy, Pandas, Seaborn, Matplotlib, Ploty, Scipy, Sci-kit learn, NLTK</p>
            </li>
            <li>
                <h5>Programming Languages and Other Skills<span class="duration"></h5>
                <p>·	Python, Java, JavaScript, CSS and HTML</p>
                <p>·	Game Engines: Stencyl</p>
                <p>·	WordPress</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Research Internships</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>·	Decision Making Psychology<span class="duration"><i class="fa fa-calendar color"></i>March 2018 - Present</span></h5>
                <h6><span class="fa fa-briefcase"></span>Cal State Fullerton</h6>
                <p>Run computer programs, check to make sure that the outcomes are correct, and create spreadsheets for a gambling decision making software program</p>
                <p>·	Currently creating a calculator using HTML, CSS, and Javascript to measure transitivity for a form of gambling according to a theory by a UCI cognitive science graduate student</p>
            </li>
            <li>
                <h5>Natural Language Processing<span class="duration"><i class="fa fa-calendar color"></i>May 2018 - Present</span></h5>
                <h6><span class="fa fa-briefcase"></span>Cal State Fullerton</h6>
                <p>·	Collect tweets from the API, Tweepy, and store those tweets in a MongoDB database (using Python)</p>
            </li>
            <li>
                <h5>Biomedical Research Internship<span class="duration"><i class="fa fa-calendar color"></i> June 2017 - December 2017</span></h5>
                <h6><span class="fa fa-briefcase"></span>Monarch Labs</h6>
                <p>·	Monarch Labs is a biotherapy company which sells Medical Maggots</p>
                <p>·	Helped my mentor with protocols, gathering maggots, and recording data for different experiments</p>
                <p>·	Was able to learn how to effectively carry out experiments
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="www.lucywan.github.io/DSResume.html.htm">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Work Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Math Tutor<span class="duration"><i class="fa fa-calendar color"></i>August 2018 - Present</span></h5>
                <h6><span class="fa fa-briefcase"></span>Cerritos College</h6>
                <p>·	Tutor Cerritos college students on math problems ranging from basic math to linear algebra or multivariable calculus</p>
                <p>·	Work two shifts a week as a walk-in tutor and one shift a week as a tutor for the AIME program (a special program which allows students to receive walk-in tutoring almost instantly)</p>
                <p>·	Work 13 hours a week three days a week and tutor about 60 students each shift as a walk-in tutor</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Leadership</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Co-founder and Vice President<span class="duration"><i class="fa fa-calendar color"></i>October 2016 - Present</span></h5>
                <h6><span class="fa fa-book"></span>Peer1on1</h6>
                <p>·	Peer1on1- an organization which helps autistic individuals improve their social skills through interacting with high school volunteers </p>
                <p>·	My current role is to communicate with the director of Peer1on1 on what her needs are and then help the presidents to designate tasks to the rest of our cabinet members</p>
                <p>·	Peer1on1 has been able to help over 50 autistic individuals since it has started. It has also been nominated for the 2018 Annual Spotlight Award of the regional center of Orange County</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Honors, Awards and Certificates</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Mastering Applied Data Science<span class="duration"><i class="fa fa-calendar color"></i>October 1, 2018</span></h5>
                <h6><span class="fa fa-book"></span>DevMasters</h6>
                <p>·	Attended the Mastering Applied Data Science bootcamp by the company, TheDevMasters and completed assigned projects</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
        
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Extracurriculars</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Cross Country Track and Field<span class="duration"><i class="fa fa-calendar color"></i> 2012-Present</span></h5>
                <p>·	Teams: Whitney High School Cross Country (2016, 2018), Whitney High School Track and Field (2017, 2019)</p>
                <p>·	Medals: Cross Country District Meet 2016 (6th place for JV), Rosemead Invitational 5K 2018 (47th place senior girls)</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>
</div>


<!-- End .resume -->
