<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>
    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter=" web ani research fin calc machine auto teaching game general">All</span></li>
            
            
            <li><span class="filter" data-filter="web">Web Development</span></li>
            <li><span class="filter" data-filter="ani">Computer Graphics and Animation</span></li>
            <li><span class="filter" data-filter="calc">Calculators</span></li>
            <li><span class="filter" data-filter="auto">Automation</span></li>
            <li><span class="filter" data-filter="fin">FinTech</span></li>
            <li><span class="filter" data-filter="general">General Programs</span></li>
            <li><span class="filter" data-filter="game">Game Development</span></li>
            <li><span class="filter" data-filter="research">Research Papers</span></li>
            <li><span class="filter" data-filter="teaching">Teaching Materials</span></li>
            <li><span class="filter" data-filter="machine">Data Science</span></li>
            <!-- <li><span class="filter" data-filter="logo">Logo</span></li> -->
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio game" data-cat="game">
                 <p>Some of the links don't work due to flash being discontinued.</p>
            </div>
            
            <div class="portfolio ani" data-cat="ani">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Sushi Cat</h5>
                        <p>A 3D animated short film using Maya and Arnold. The film is about a cat's journey to opening a sushi resturaunt and was created with Rebecca Fang, Riku Inoue, and Tino Morate through Berkeley's UCBUGG course.</p>
                        <a href="https://drive.google.com/file/d/1JkrvCuuIeDYJrGbBltncofJZkdR4PIzo/view?usp=sharing" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>
            
            <div class="portfolio ani" data-cat="ani">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Rasterizer</h5>
                        <p>A project using C++ where Lucy Lou and I rasterize triangles through various sampling methods given three points. We also wrote functions to perform color gradients, transforms, and texture mapping.</p>
                        <a href="https://cal-cs184-student.github.io/sp22-project-webpages-lucylanlou/proj1/index.html" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>
            
            <div class="portfolio ani" data-cat="ani">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Mesh Editor</h5>
                        <p>A project using C++ where Maleny Ruiz and I implement Castelja's algorithm, Bezier surfaces, area weighted normal vectors, and loop subdivision in order to smooth out rendered objects.</p>
                        <a href="https://cal-cs184-student.github.io/sp22-project-webpages-maleny25/proj2/index.html" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>
            
            <div class="portfolio ani" data-cat="ani">
                 <ul class="attributes">
                    <li class="first">
                        <h5>PathTracer</h5>
                        <p>A project using C++ where Maleny Ruiz and I implement ray and scene generation, bounding volume hierarchies, direct illumination, global illumination, and adaptive sampling to create images of realistic looking objects affected by light sources.</p>
                        <a href="https://cal-cs184-student.github.io/sp22-project-webpages-maleny25/proj3-1/index.html" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>
            
            <div class="portfolio ani" data-cat="ani">
                 <ul class="attributes">
                    <li class="first">
                        <h5>PathTracer Materials</h5>
                        <p>A project using C++ to add glass, mirror, and microfacet materials to our PathTracer project.</p>
                        <a href="https://cal-cs184-student.github.io/sp22-project-webpages-maleny25/proj3-2/index.html" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>
            
            
            
            <div class="portfolio ani" data-cat="ani">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Cloth Simulator</h5>
                        <p>A project using C++ to simulated cloth using a mass and spring system. In addition, we simulated cloth collisions and also added shaders such as blinn phong and bump mapping to our cloth.</p>
                        <a href="https://cal-cs184-student.github.io/sp22-project-webpages-maleny25/proj4/index.html" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>
            
            <div class="portfolio ani" data-cat="ani">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Kiwi Vine Simulator</h5>
                        <p>A project using Python and PlantGL from OpenLea to simulate the growth of a kiwi vine based on a paper by Mikolaj Cieslak.</p>
                        <a href="https://maleny25.github.io/CS184-Final-Project/report/index.html" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>
            
            <div class="portfolio web" data-cat="web">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Collayt</h5>
                        <p>A website created using HTML, CSS, Bootstrap, Django, Google Cloud, and Firebase to help Berkeley students to find social opportunities through Covid (need Berkeley email to fully access)</p>
                        <a href="https://bearchat.wl.r.appspot.com/" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>
            
            <div class="portfolio web" data-cat="web">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Memento</h5>
                        <p>A website created using HTML, CSS, Bootstrap, and Django to help people find NFT souveniors by location.</p>
                        <a href="https://www.ocf.berkeley.edu/~luw/memento/" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>
            
            <div class="portfolio web" data-cat="web">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Lucy's Kitchen</h5>
                        <p>A website created using HTML, CSS, and Github Pages to display different hobbies of mine.</p>
                        <a href="https://lucywan.github.io/lucyskitchen/index.html" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>    
            
            <div class="portfolio web" data-cat="web">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Sotira: Crowdsourced Calculators</h5>
                        <p>A website for calculators tailored towards specific classes. Worked as the backend developer using Django along with Melanie Chau as the frontend developer.</p>
                        <a href="https://www.ocf.berkeley.edu/~luw/sotira/" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>    
            
            <div class="portfolio fin" data-cat="fin">
                 <ul class="attributes">
                    <li class="first">
                        <h5>eTrade API</h5>
                        <p>Created a package for automating stock trading on eTrade through Python and Selenium WebDriver</p>
                        <a href="https://github.com/lucywan/etradeAPI" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>      

            <div class="portfolio machine" data-cat="machine">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Device Failures Undersampling</h5>
                        <p>Predicted using random forest classifiers which devices of trucks would fail using undersampling and oversampling techniques</p>
                        <a href="https://lucywan.github.io/Device+Failures+Undersampling.html" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>		
            <!-- /.portfolio -->
            <div class="portfolio machine" data-cat="machine">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Medical Company Recommender System</h5>
                        <p>Created a recommender system to recommend medical products to a customer depending on what product the customer buys.</p>
                        <a href="https://lucywan.github.io/Medical.html" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>		
            
            <div class="portfolio machine" data-cat="machine">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Housing Prices: Advanced Regression Techniques</h5>
                        <p>Participated in a competition on Kaggle where I predicted the prices of houses in Ames, Iowa using random forest regressors with a given dataset (scored in the 75 percentile)</p>
                        <a href="https://lucywan.github.io/Analysis+Web.html" target = "starfall">Analysis</a><br>
                        <a href="https://lucywan.github.io/Cleaning+Web.html" target = "starfall">Cleaning</a><br>
                        <a href="https://lucywan.github.io/Models+Web.html" target = "starfall">Models</a><br>
                    </li>
                </ul>
            </div>
            
            <div class="portfolio machine" data-cat="machine">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Uber Word Cloud</h5>
                        <p>Collected tweets from the TWEEPY API to conduct sentiment analysis on the name “Uber” and used the tweets collected to make word clouds.</p>
                        <a href="https://lucywan.github.io/Twitter+Feeds.html" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>	
            
            <div class="portfolio machine" data-cat="machine">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Predicting Loan Status</h5>
                        <p>Predict a customer's loan status given information such as the current loan amount and whether the loan is long term or short term.</p>
                        <a href="https://lucywan.github.io/Predicting+Loan+Status.html" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>	
            
            <div class="portfolio machine" data-cat="machine">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Titanic: Machine Learning from a Disaster</h5>
                        <p>A kaggle competition where I predicted whether or not a Titianic passenger survived given a number of attributes. Scored in the 33rd percentile upon submission.</p>
                        <a href="https://lucywan.github.io/Titanic.html" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>	
            <div class="portfolio teaching" data-cat="teaching">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Linked Lists Cheat Sheet</h5>
                        <p>Wrote the Linked Lists portion of the CS88 Final Cribsheets by CSM with the help of CSM Senior Mentors. Written using LaTex.</p>
                        <a href="https://drive.google.com/file/d/1DsbW3bdZIk6NGtDkEO0wuohCseBn2nY3/view" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>
            
            <div class="portfolio fin" data-cat="fin">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Jane Street ETC Bot</h5>
                        <p>Created a bot with two other Berkeley students using Python to compete in the Jane Street ETC 2020.</p>
                        <a href="https://github.com/lucywan/janestreet-etc" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>     

            <div class="portfolio teaching" data-cat="teaching">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Edlyft CS61A Prework</h5>
                        <p>Wrote some notes and homework assignment's as a CS61A mentor for Edlyft's prework program for CS61A</p>
                        <a href="https://github.com/ctwobosius/YeetingOurWayInto61a" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>
            
            <div class="portfolio game" data-cat="game">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Save Mr. Onionhead</h5>
                        <p>A game created in Stencyl using block coding in which an onion escapes a kitchen by avoiding knife characters.</p>
                        <a href="https://lucywan.github.io/save_onionhead.html" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>
            
            <div class="portfolio game" data-cat="game">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Wood Collecting Game</h5>
                        <p>A game created in Stencyl using block coding inspired by "The Lord of the Flies" by William Golding. Artist: Adriana Endow-Smith and Elaine Kane, Other Programmer: Kameron Ferrer</p>
                        <a href="https://lucywan.github.io/LOF.html" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>
            
            <div class="portfolio game" data-cat="game">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Dinosaur Evolution</h5>
                        <p>A one-button game created in Stencyl using block coding in which a dinosaur absorbs other dinosaurs in order to evolve. Artist: Adriana Endow-Smith</p>
                        <a href="https://lucywan.github.io/DinosaurEvolution.html" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>
            <!--
            <div class="portfolio game" data-cat="game">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Ploppy Pigeon</h5>
                        <p>A game created on Stencyl with Andre Yang and Ryan Yan during the Whitney HS 2018 Game Jam my junior year of high school.</p>
                        <a href="https://lucywan.github.io/Ploppy_Pigeon_Summer_Edition.html" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>
            -->
<div class="portfolio research" data-cat="research">
                 <ul class="attributes">
                    <li class="first">
                        <h5>"Extract Flora"</h5>
                        <p> Working under Rothfel's Lab to perform Python on text-analysis of plant species and creating a web app displaying the species</p>
                        <a href="https://github.com/aculich/extract-flora" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>

            <div class="portfolio research" data-cat="research">
                 <ul class="attributes">
                    <li class="first">
                        <h5>"MARTER: Markov True and Error Model of Drifting Parameters"</h5>
                        <p>Co-authored a research paper published in the <i>Judegment and Decision Making</i> journal for writing Python programs.</p>
                        <a href="http://journal.sjdm.org/19/190727/jdm190727.html" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>
            
            <div class="portfolio research" data-cat="research">
                 <ul class="attributes">
                    <li class="first">
                        <h5>"TEMP2.R: True and Error model analysis program in R"</h5>
                        <p>Was acknoweldged in a research paper published in the <i>Judegment and Decision Making</i> journal for heling to test the TEMP2.R program.</p>
                        <a href="http://www.sjdm.org/journal/18/18507/jdm18507.pdf" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>
            
            <div class="portfolio calc" data-cat="calc">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Calculator for Intransitive Schramm Model of Probability Discounting</h5>
                        <p>Created a calculator using HTML, CSS, and Javascript to predict binary gambles according to the Schramm model</p>
                        <a href="http://psych.fullerton.edu/mbirnbaum/calculators/Lucy02.htm" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>
            
            <div class="portfolio calc" data-cat="calc">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Simulation of Random Walk Model with 8 X 8 Transition Matrix and 8 X 8 Error Matrix</h5>
                        <p>Created a calculator using HTML, CSS, and Javascript to simulate the markov model with response errors</p>
                        <a href="http://psych.fullerton.edu/mbirnbaum/calculators/MARTER_sim.htm" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>		
            

            
            <div class="portfolio web" data-cat="web">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Peer1on1</h5>
                        <p>Created the website peer1on1.org through WordPress for a nonprofit organizaiton which helps autistic individuals (over 3,942 views and 1,192 visitors)</p>
                        <a href="https://peer1on1.org/" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>

   
            
            <div class="portfolio web" data-cat="web">
                 <ul class="attributes">
                    <li class="first">
                        <h5>This Github Pages Site</h5>
                        <p>Created this website through edditng HTML and CSS code of the HTML and CSS parts of the Jekyll theme Panel CV by flexycodex</p>
                    </li>
                </ul>
            </div>
            
            <div class="portfolio general" data-cat="general">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Sonnet Generator</h5>
                        <p>A Python program which generates sonnets by stringing together words chosen randomly from arrays of different parts of speech. Created with Tanusri Rimmalapudi.</p>
                        <a href="https://lucywan.github.io/Sonnet_generator.html" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>

                        <div class="portfolio general" data-cat="general">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Bulimia Nervosa Quiz</h5>
                        <p>A quiz written in Java to help someone determine their likelihood of having Bulimia Nervosa, an eating disorder.</p>
                        <a href="https://codehs.com/share/wXMG9UU9HH9Z1nNMPBXz" target = "starfall">Click Here to View</a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->
