<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="machine">Data Science</span></li>
            <li><span class="filter" data-filter="game">Game Design</span></li>
            <li><span class="filter" data-filter="general">General Programs</span></li>
            <li><span class="filter" data-filter="web">Web Development</span></li>
            <!-- <li><span class="filter" data-filter="logo">Logo</span></li> -->
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio machine" data-cat="machine">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Device Failures Undersampling</h5>
                        <p>Predicted using random forest classifiers which devices of trucks would fail using undersampling and oversampling techniques</p>
                        <a href="https://lucywan.github.io/Device+Failures+Undersampling.html">Click Here to View</a>
                    </li>
                </ul>
            </div>		
            <!-- /.portfolio -->
            <div class="portfolio machine" data-cat="machine">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Medical Company Recommender System</h5>
                        <p>Created a recommender system to recommend medical products to a customer depending on what product the customer buys.</p>
                        <a href="https://lucywan.github.io/Medical+Company+Recommender+System.html">Click Here to View</a>
                    </li>
                </ul>
            </div>		
            
            <div class="portfolio machine" data-cat="machine">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Uber Word Cloud</h5>
                        <p>Collected tweets from the TWEEPY API to conduct sentiment analysis on the name “Uber” using natural language processing and used the tweets collected to make word clouds.</p>
                        <a href="https://lucywan.github.io/Twitter+Feed.html">Click Here to View</a>
                    </li>
                </ul>
            </div>	
            
            <div class="portfolio web" data-cat="web">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Peer1on1</h5>
                        <p>Created the website peer1on1.org through WordPress for a nonprofit organizaiton which helps autistic individuals.</p>
                        <a href="peer1on1.org">Click Here to View</a>
                    </li>
                </ul>
            </div>	

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->
