<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="machine game general web">All</span></li>
            <li><span class="filter" data-filter="machine">Data Science</span></li>
            <li><span class="filter" data-filter="game">Game Development</span></li>
            <li><span class="filter" data-filter="research">Research Papers</span></li>
            <li><span class="filter" data-filter="general">General Programs</span></li>
            <li><span class="filter" data-filter="web">Web Development</span></li>
            <!-- <li><span class="filter" data-filter="logo">Logo</span></li> -->
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio machine" data-cat="machine">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Device Failures Undersampling</h5>
                        <p>Predicted using random forest classifiers which devices of trucks would fail using undersampling and oversampling techniques</p>
                        <a href="https://lucywan.github.io/Device+Failures+Undersampling.html">Click Here to View</a>
                    </li>
                </ul>
            </div>		
            <!-- /.portfolio -->
            <div class="portfolio machine" data-cat="machine">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Medical Company Recommender System</h5>
                        <p>Created a recommender system to recommend medical products to a customer depending on what product the customer buys.</p>
                        <a href="https://lucywan.github.io/Medical.html">Click Here to View</a>
                    </li>
                </ul>
            </div>		
            
            <div class="portfolio machine" data-cat="machine">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Housing Prices: Advanced Regression Techniques</h5>
                        <p>Participated in a competition on Kaggle where I predicted the prices of houses in Ames, Iowa using random forest regressors with a given dataset (scored in the 75 percentile)</p>
                        <a href="https://lucywan.github.io/Analysis+Web.html">Analysis</a><br>
                        <a href="https://lucywan.github.io/Cleaning+Web.html">Cleaning</a><br>
                        <a href="https://lucywan.github.io/Models+Web.html">Models</a><br>
                    </li>
                </ul>
            </div>
            
            <div class="portfolio machine" data-cat="machine">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Uber Word Cloud</h5>
                        <p>Collected tweets from the TWEEPY API to conduct sentiment analysis on the name “Uber” and used the tweets collected to make word clouds.</p>
                        <a href="https://lucywan.github.io/Twitter+Feeds.html">Click Here to View</a>
                    </li>
                </ul>
            </div>	
            
            <div class="portfolio machine" data-cat="machine">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Predicting Loan Status</h5>
                        <p>Predict a customer's loan status given information such as the current loan amount and whether the loan is long term or short term.</p>
                        <a href="https://lucywan.github.io/Predicting+Loan+Status.html">Click Here to View</a>
                    </li>
                </ul>
            </div>	
            
            <div class="portfolio machine" data-cat="machine">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Titanic: Machine Learning from a Disaster</h5>
                        <p>A kaggle competition where I predicted whether or not a Titianic passenger survived given a number of attributes. Scored in the 33rd percentile upon submission.</p>
                        <a href="https://lucywan.github.io/Titanic.html">Click Here to View</a>
                    </li>
                </ul>
            </div>	
            
            
            <div class="portfolio game" data-cat="game">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Save Mr. Onionhead</h5>
                        <p>A game created in Stencyl using block coding in which an onion escapes a kitchen by avoiding knife characters.</p>
                        <a href="https://lucywan.github.io/save_onionhead.html">Click Here to View</a>
                    </li>
                </ul>
            </div>
            
            <div class="portfolio game" data-cat="game">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Wood Collecting Game</h5>
                        <p>A game created in Stencyl using block coding inspired by "The Lord of the Flies" by William Golding. Artist: Adriana Endow-Smith and Elaine Kane, Other Programmer: Kameron Ferrer</p>
                        <a href="https://lucywan.github.io/LOF.html">Click Here to View</a>
                    </li>
                </ul>
            </div>
            
            <div class="portfolio game" data-cat="game">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Dinosaur Evolution</h5>
                        <p>A one-button game created in Stencyl using block coding in which a dinosaur absorbs other dinosaurs in order to evolve. Artist: Adriana Endow-Smith</p>
                        <a href="https://lucywan.github.io/DinosaurEvolution.html">Click Here to View</a>
                    </li>
                </ul>
            </div>
            
            <div class="portfolio research" data-cat="research">
                 <ul class="attributes">
                    <li class="first">
                        <h5>"TEMP2.R: True and Error model analysis program in R"</h5>
                        <p>Was acknoweldged in a research paper published in the <i>Judegment and Decision Making</i> journal for heling to test the TEMP2.R program.</p>
                        <a href="http://www.sjdm.org/journal/18/18507/jdm18507.pdf">Click Here to View</a>
                    </li>
                </ul>
            </div>
            
            <div class="portfolio general" data-cat="general">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Bulimia Nervosa Quiz</h5>
                        <p>A quiz written in Java to help someone determine their likelihood of having Bulimia Nervosa, an eating disorder.</p>
                        <a href="https://codehs.com/share/wXMG9UU9HH9Z1nNMPBXz">Click Here to View</a>
                    </li>
                </ul>
            </div>
            
            <div class="portfolio web" data-cat="web">
                 <ul class="attributes">
                    <li class="first">
                        <h5>Peer1on1</h5>
                        <p>Created the website peer1on1.org through WordPress for a nonprofit organizaiton which helps autistic individuals.</p>
                        <a href="https://peer1on1.org/">Click Here to View</a>
                    </li>
                </ul>
            </div>	

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->
